<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
		<section name="Anolis.Resourcer.Settings.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		<section name="Anolis.Resourcer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
	</sectionGroup>
</configSections>
	<userSettings>
		<Anolis.Resourcer.Settings.Settings>
   <setting name="SimpleMode" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MruCount" serializeAs="String">
    <value>4</value>
   </setting>
   <setting name="Toolbar24" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="Gimmicks" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BatchSource" serializeAs="String">
    <value />
   </setting>
   <setting name="BatchExport" serializeAs="String">
    <value />
   </setting>
   <setting name="BatchFilter" serializeAs="String">
    <value>*.exe;*.dll;*.scr;*.msstyles;*.ocx;*.cpl;*.mui</value>
   </setting>
   <setting name="BatchReport" serializeAs="String">
    <value />
   </setting>
   <setting name="BatchRecurse" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BatchExportNonVis" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BatchExportNonVisCommon" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BatchExportNonVisSize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="BatchExportNonVisSizeKB" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="BatchExportSubimage" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="MenuVisible" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ToolbarVisible" serializeAs="String">
    <value>True</value>
   </setting>
  </Anolis.Resourcer.Settings.Settings>
  <Anolis.Resourcer.Settings>
			<setting name="SimpleMode" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="MruCount" serializeAs="String">
				<value>4</value>
			</setting>
		</Anolis.Resourcer.Settings>
	</userSettings>
</configuration>